<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.system.mapper.GrassNoticeConfigMapper">

    <resultMap type="GrassNoticeConfig" id="GrassNoticeConfigResult">
        <result property="id" column="id"/>
        <result property="pushType" column="push_type"/>
        <result property="isOpen" column="is_open"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectGrassNoticeConfigVo">
        select id,
               push_type,
               is_open,
               tenant_id,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from grass_notice_config
    </sql>
    <delete id="deleteByTenantId">
        <choose>
            <when test="tenantId!=null and tenantId!=''">
                delete from grass_notice_config
                <where>
                    tenant_id=#{tenantId}
                </where>
            </when>
        </choose>
    </delete>

    <select id="selectGrassNoticeConfigList" parameterType="GrassNoticeConfig" resultMap="GrassNoticeConfigResult">
        <include refid="selectGrassNoticeConfigVo"/>
        <where>
            <if test="pushType != null  and pushType != ''">
                and push_type = #{pushType}
            </if>
            <if test="isOpen != null  and isOpen != ''">
                and is_open = #{isOpen}
            </if>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    <select id="selectList" resultType="com.rexel.system.domain.vo.GrassNoticeConfigVO">
        SELECT inc.id,
               sdd.dict_label         AS pushTypeDesc,
               sdd.dict_value         AS pushType,
               IFNULL(inc.is_open, 0) AS isOpen
        FROM sys_dict_data sdd
                 LEFT JOIN grass_notice_config inc ON inc.push_type = sdd.dict_value
        WHERE sdd.dict_type = 'notification_type'
          AND sdd.`status` = '0'
        ORDER BY sdd.dict_sort
    </select>
    <select id="selectOneByPushType" resultType="com.rexel.system.domain.GrassNoticeConfig">
        <include refid="selectGrassNoticeConfigVo"/>
        <where>
            <choose>
                <when test="pushType != null  and pushType != '' and tenantId != null  and tenantId != '' ">
                    push_type = #{pushType} and tenant_id = #{tenantId}
                </when>
                <otherwise>1=2</otherwise>
            </choose>
        </where>
    </select>

</mapper>
