<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.system.mapper.GrassDeviceInfoMapper">

    <resultMap type="com.rexel.system.domain.GrassDeviceInfo" id="GrassDeviceInfoResult">
        <result property="bucketId" column="bucket_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="linkId" column="link_id"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectGrassDeviceInfoVo">
        select bucket_id,
               tenant_id,
               device_id,
               device_name,
               link_id,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from grass_device_info
    </sql>

    <insert id="insertDeviceInfo">
        insert into grass_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="bucketId != null and bucketId != ''">bucket_id,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="linkId != null and linkId != ''">link_id,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="bucketId != null and bucketId != ''">#{bucketId},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="linkId != null and linkId != ''">#{linkId},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{createTime},</if>
            <if test="updateTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateDeviceInfo">
        UPDATE grass_device_info
        <set>
            <if test="bucketId != null and bucketId != ''">bucket_id=#{bucketId},</if>
            <if test="tenantId != null and tenantId != ''">tenant_id=#{tenantId},</if>
            <if test="deviceName != null and deviceName != ''">device_name=#{deviceName},</if>
            <if test="linkId != null and linkId != ''">link_id=#{linkId},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="createBy != null and createBy != ''">create_by=#{createBy},</if>
            <if test="createTime != null ">create_time=#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            <if test="updateTime != null ">update_time=#{updateTime},</if>
        </set>
        WHERE device_id = #{deviceId}
    </update>

    <delete id="deleteByDeviceId">
        DELETE
        from grass_device_info
        <where>
            device_id = #{deviceId}
        </where>
    </delete>

    <delete id="deleteByTenantId">
        <choose>
            <when test="tenantId != null and tenantId != '' ">
                DELETE
                from grass_device_info
                <where>
                    tenant_id = #{tenantId}
                </where>
            </when>
        </choose>
    </delete>

    <select id="selectGrassDeviceInfoList" parameterType="com.rexel.system.domain.GrassDeviceInfo" resultMap="GrassDeviceInfoResult">
        <include refid="selectGrassDeviceInfoVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="deviceId != null  and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="deviceName != null  and deviceName != ''">
                and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="linkId != null ">
                and link_id = #{linkId}
            </if>
        </where>
        ORDER BY create_time desc
    </select>

    <select id="selectCountByDeviceName" resultType="java.lang.Integer">
        select count(1)
        from grass_device_info
        <where>
            <choose>
                <when test="deviceName!=null and deviceName!='' ">
                    device_name = #{deviceName}
                </when>
                <otherwise>1=2</otherwise>
            </choose>
        </where>
    </select>

    <select id="selectCountByLinkId" resultType="java.lang.Integer">
        select count(1)
        from grass_device_info
        <where>
            <choose>
                <when test="linkId!=null and linkId!='' ">
                    link_id = #{linkId}
                </when>
                <otherwise>1=2</otherwise>
            </choose>
        </where>
    </select>

    <select id="selectGrassDeviceInfoByMachineCode" resultType="com.rexel.system.domain.GrassDeviceInfo">
        SELECT
            gdi.device_id,
            gdi.bucket_id,
            gdi.tenant_id,
            gdi.device_name,
            gdi.link_id,
            gdi.remark,
            gdi.create_by,
            gdi.create_time,
            gdi.update_by,
            gdi.update_time
        FROM
            grass_device_info AS gdi
            INNER JOIN pulse_link_info AS pli ON gdi.link_id = pli.link_id
        <where>
            <choose>
                <when test="machineCode!=null and machineCode!='' ">
                    pli.machine_code = #{machineCode}
                </when>
                <otherwise>1=2</otherwise>
            </choose>
        </where>
        ORDER BY gdi.create_time desc
    </select>

    <select id="selectGrassDeviceInfoListByTenantId" resultType="com.rexel.system.domain.GrassDeviceInfo">
        <include refid="selectGrassDeviceInfoVo"/>
        <where>
            <choose>
                <when test="tenantId!=null and tenantId != '' ">
                    tenant_id = #{tenantId}
                </when>
                <otherwise>1=2</otherwise>
            </choose>
        </where>
    </select>

    <select id="deviceStatistical" resultType="com.rexel.system.domain.vo.common.NumberCountVO">
        SELECT count(gdi.device_id) as total,
               COUNT(
                       CASE
                           WHEN t1.link_status = 1 THEN
                               1
                           END
                   )                AS onlineNumber,
               COUNT(
                       CASE
                           WHEN t1.link_status = 0 THEN
                               1
                           END
                   )                AS offlineNumber
        FROM grass_device_info AS gdi
                 LEFT JOIN pulse_link_info AS pli ON gdi.link_id = pli.link_id
                 LEFT JOIN (
            SELECT t1.*
            FROM pulse_link_status t1
                     INNER JOIN (
                SELECT MAX(id) AS id
                FROM pulse_link_status
                GROUP BY machine_code
            ) t2 ON t1.id = t2.id
        ) AS t1 ON pli.machine_code = t1.machine_code
     </select>

</mapper>
