<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.earlywarning.mapper.GrassEarlyWarningSuggestHisMapper">

    <resultMap type="com.rexel.earlywarning.domain.GrassEarlyWarningSuggestHis" id="GrassEarlyWarningSuggestHisResult">
        <result property="id" column="id"/>
        <result property="hisId" column="his_id"/>
        <result property="suggestId" column="suggest_id"/>
        <result property="suggestType" column="suggest_type"/>
        <result property="suggestTitle" column="suggest_title"/>
        <result property="suggestContent" column="suggest_content"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectGrassEarlyWarningSuggestHisVo">
        select id,
               his_id,
               suggest_id,
               suggest_type,
               suggest_title,
               suggest_content,
               tenant_id,
               create_time,
               create_by,
               update_time,
               update_by,
               remark
        from grass_early_warning_suggest_his
    </sql>

    <select id="selectGrassEarlyWarningSuggestHisList"
            parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningSuggestHis"
            resultMap="GrassEarlyWarningSuggestHisResult">
        <include refid="selectGrassEarlyWarningSuggestHisVo"/>
        <where>
            <if test="hisId != null ">
                and his_id = #{hisId}
            </if>
            <if test="suggestId != null ">
                and suggest_id = #{suggestId}
            </if>
            <if test="suggestType != null  and suggestType != ''">
                and suggest_type = #{suggestType}
            </if>
            <if test="suggestTitle != null  and suggestTitle != ''">
                and suggest_title = #{suggestTitle}
            </if>
            <if test="suggestContent != null  and suggestContent != ''">
                and suggest_content = #{suggestContent}
            </if>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <insert id="batchGrassEarlyWarningSuggestHis" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into grass_early_warning_suggest_his
        ( id , his_id, suggest_id , suggest_type , suggest_title , suggest_content , tenant_id , create_time , create_by
        , update_time , update_by , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.hisId}, #{item.suggestId}, #{item.suggestType}, #{item.suggestTitle},
            #{item.suggestContent}, #{item.tenantId}, #{item.createTime}, #{item.createBy}, #{item.updateTime},
            #{item.updateBy}, #{item.remark})
        </foreach>
    </insert>

</mapper>
