<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.earlywarning.mapper.GrassEarlyWarningAlarmHisMapper">
    
    <resultMap type="com.rexel.earlywarning.domain.GrassEarlyWarningAlarmHis" id="GrassEarlyWarningAlarmHisResult">
        <result property="hisId" column="his_id"/>
        <result property="rulesId" column="rules_id"/>
        <result property="rulesName" column="rules_name"/>
        <result property="alarmTime" column="alarm_time"/>
        <result property="suggestTitle" column="suggest_title"/>
        <result property="suggestContent" column="suggest_content"/>
        <result property="rulesLevel" column="rules_level"/>
        <result property="rulesLevelName" column="rules_level_name"/>
    </resultMap>

    <sql id="selectGrassEarlyWarningAlarmHisVo">
        SELECT
            t1.his_id,
            t1.rules_id,
            t1.alarm_time,
            t2.rules_name,
            t2.rules_level,
            t3.suggest_title,
            t3.suggest_content,
            al.dict_label AS rules_level_name
        FROM
            grass_early_warning_alarm_his AS t1
            INNER JOIN grass_early_warning_his AS t2 ON t2.his_id = t1.his_id
            INNER JOIN grass_early_warning_suggest_his AS t3 ON t3.his_id = t2.his_id
            LEFT JOIN sys_dict_data AS al ON al.dict_type = 'early_warning_level' AND al.dict_value = t2.rules_level
    </sql>

    <select id="selectGrassEarlyWarningAlarmHisList" parameterType="com.rexel.earlywarning.vo.GrassEarlyWarningAlarmHisQuery"
            resultMap="GrassEarlyWarningAlarmHisResult">
        <include refid="selectGrassEarlyWarningAlarmHisVo"/>
        <where>
            <if test="timeFrom != null and timeFrom != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &gt;= date_format(#{timeFrom}, '%Y%m%d%H%i%s')</if>
            <if test="timeTo != null and timeTo != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &lt;= date_format(#{timeTo}, '%Y%m%d%H%i%s')</if>
            <if test="rulesName != null  and rulesName != ''"> and t2.rules_name like concat('%', #{rulesName}, '%')</if>
            <if test="rulesLevel != null and rulesLevel != ''"> and t2.rules_level = #{rulesLevel}</if>
        </where>
        order by t1.alarm_time desc
    </select>

    <select id="selectGrassEarlyWarningAlarmHisById" parameterType="Long" resultMap="GrassEarlyWarningAlarmHisResult">
        <include refid="selectGrassEarlyWarningAlarmHisVo"/>
        where t1.his_id = #{hisId}
    </select>

    <select id="selectGrassEarlyWarningAlarmHisGroup" parameterType="com.rexel.earlywarning.vo.GrassEarlyWarningAlarmHisQuery"
            resultType="com.rexel.earlywarning.vo.GrassEarlyWarningAlarmHisGroupResult">
        SELECT
            COUNT(1) AS alarmCount,
            DATE_FORMAT(t1.alarm_time, #{timeFormat}) AS alarmTimeRange
        FROM
            grass_early_warning_alarm_his AS t1
            INNER JOIN grass_early_warning_his AS t2 ON t2.his_id = t1.his_id
        <where>
            <if test="timeFrom != null and timeFrom != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &gt;= date_format(#{timeFrom}, '%Y%m%d%H%i%s')</if>
            <if test="timeTo != null and timeTo != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &lt;= date_format(#{timeTo}, '%Y%m%d%H%i%s')</if>
            <if test="rulesName != null  and rulesName != ''"> and t2.rules_name like concat('%', #{rulesName}, '%')</if>
            <if test="rulesLevel != null and rulesLevel != ''"> and t2.rules_level = #{rulesLevel}</if>
        </where>
        GROUP BY alarmTimeRange
        ORDER BY alarmTimeRange
    </select>

    <select id="selectGroupByRulesNameByTenantId" parameterType="String"
            resultType="com.rexel.earlywarning.vo.GrassEarlyWarningAlarmHisGroupByRulesName">
        SELECT
            t2.rules_name AS rulesName,
            COUNT(1) AS alarmCount
        FROM
            grass_early_warning_alarm_his AS t1
            INNER JOIN grass_early_warning_his AS t2 ON t2.his_id = t1.his_id
        <where>
            <if test="timeFrom != null and timeFrom != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &gt;= date_format(#{timeFrom}, '%Y%m%d%H%i%s')</if>
            <if test="timeTo != null and timeTo != ''"> and date_format(t1.alarm_time, '%Y%m%d%H%i%s') &lt;= date_format(#{timeTo}, '%Y%m%d%H%i%s')</if>
        </where>
        GROUP BY rules_name
        ORDER BY rules_name
    </select>

    <insert id="insertGrassEarlyWarningAlarmHis" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningAlarmHis"
            useGeneratedKeys="true" keyProperty="hisId">
        insert into grass_early_warning_alarm_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rulesId != null ">rules_id,</if>
            <if test="alarmTime != null ">alarm_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rulesId != null ">#{rulesId},</if>
            <if test="alarmTime != null ">#{alarmTime},</if>
         </trim>
    </insert>

    <update id="updateGrassEarlyWarningAlarmHis" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningAlarmHis">
        update grass_early_warning_alarm_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="rulesId != null ">rules_id = #{rulesId},</if>
            <if test="alarmTime != null ">alarm_time = #{alarmTime},</if>
        </trim>
        where his_id = #{hisId}
    </update>

    <delete id="deleteGrassEarlyWarningAlarmHisById" parameterType="Long">
        delete from grass_early_warning_alarm_his where his_id = #{hisId}
    </delete>

    <delete id="deleteGrassEarlyWarningAlarmHisByRulesId" parameterType="Long">
        delete from grass_early_warning_alarm_his where rules_id = #{rulesId}
    </delete>

    <delete id="deleteGrassEarlyWarningAlarmHisByIds" parameterType="Long">
        delete from grass_early_warning_alarm_his where his_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{hisId}
        </foreach>
    </delete>
    
</mapper>