<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.earlywarning.mapper.GrassEarlyWarningSuggestMapper">
    
    <resultMap type="com.rexel.earlywarning.domain.GrassEarlyWarningSuggest" id="GrassEarlyWarningSuggestResult">
        <result property="suggestId" column="suggest_id"/>
        <result property="suggestType" column="suggest_type"/>
        <result property="suggestTypeName" column="suggest_type_name"/>
        <result property="suggestTitle" column="suggest_title"/>
        <result property="suggestContent" column="suggest_content"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectGrassEarlyWarningSuggestVo">
        SELECT
            t1.suggest_id,
            t1.suggest_type,
            t1.suggest_title,
            t1.suggest_content,
            t1.tenant_id,
            t1.create_time,
            t1.create_by,
            t1.update_time,
            t1.update_by,
            t2.dict_label AS suggest_type_name
        FROM
            grass_early_warning_suggest AS t1
            LEFT JOIN sys_dict_data AS t2 ON t2.dict_type = 'suggest_type' AND t2.dict_value = t1.suggest_type
    </sql>

    <select id="selectGrassEarlyWarningSuggestList" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningSuggest"
            resultMap="GrassEarlyWarningSuggestResult">
        <include refid="selectGrassEarlyWarningSuggestVo"/>
        <where>
            <if test="suggestType != null  and suggestType != ''"> and t1.suggest_type = #{suggestType}</if>
            <if test="suggestTitle != null  and suggestTitle != ''"> and t1.suggest_title like concat('%', #{suggestTitle}, '%')</if>
            <if test="suggestContent != null  and suggestContent != ''"> and t1.suggest_content like concat('%', #{suggestContent}, '%')</if>
            <if test="tenantId != null  and tenantId != ''"> and t1.tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectGrassEarlyWarningSuggestById" parameterType="Long" resultMap="GrassEarlyWarningSuggestResult">
        <include refid="selectGrassEarlyWarningSuggestVo"/>
        where t1.suggest_id = #{suggestId}
    </select>
        
    <insert id="insertGrassEarlyWarningSuggest" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningSuggest"
            useGeneratedKeys="true" keyProperty="suggestId">
        insert into grass_early_warning_suggest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="suggestType != null  and suggestType != ''">suggest_type,</if>
            <if test="suggestTitle != null  and suggestTitle != ''">suggest_title,</if>
            <if test="suggestContent != null  and suggestContent != ''">suggest_content,</if>
            <if test="tenantId != null  and tenantId != ''">tenant_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="suggestType != null  and suggestType != ''">#{suggestType},</if>
            <if test="suggestTitle != null  and suggestTitle != ''">#{suggestTitle},</if>
            <if test="suggestContent != null  and suggestContent != ''">#{suggestContent},</if>
            <if test="tenantId != null  and tenantId != ''">#{tenantId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateGrassEarlyWarningSuggest" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningSuggest">
        update grass_early_warning_suggest
        <trim prefix="SET" suffixOverrides=",">
            <if test="suggestType != null  and suggestType != ''">suggest_type = #{suggestType},</if>
            <if test="suggestTitle != null  and suggestTitle != ''">suggest_title = #{suggestTitle},</if>
            <if test="suggestContent != null  and suggestContent != ''">suggest_content = #{suggestContent},</if>
            <if test="tenantId != null  and tenantId != ''">tenant_id = #{tenantId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where suggest_id = #{suggestId}
    </update>

    <delete id="deleteGrassEarlyWarningSuggestById" parameterType="Long">
        delete from grass_early_warning_suggest where suggest_id = #{suggestId}
    </delete>

    <delete id="deleteGrassEarlyWarningSuggestByIds" parameterType="String">
        delete from grass_early_warning_suggest where suggest_id in
        <foreach item="suggestId" collection="array" open="(" separator="," close=")">
            #{suggestId}
        </foreach>
    </delete>
    
</mapper>