<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.earlywarning.mapper.GrassEarlyWarningJudgeMapper">
    
    <resultMap type="com.rexel.earlywarning.domain.GrassEarlyWarningJudge" id="GrassEarlyWarningJudgeResult">
        <result property="rulesId" column="rules_id"/>
        <result property="judgeIndex" column="judge_index"/>
        <result property="deviceId" column="device_id"/>
        <result property="pointId" column="point_id"/>
        <result property="judge" column="judge"/>
        <result property="pointValue" column="point_value"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectGrassEarlyWarningJudgeVo">
        SELECT
            rules_id,
            judge_index,
            device_id,
            point_id,
            judge,
            point_value,
            tenant_id,
            create_time,
            create_by,
            update_time,
            update_by
        FROM
            grass_early_warning_judge
    </sql>

    <select id="selectGrassEarlyWarningJudgeList" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningJudge"
            resultMap="GrassEarlyWarningJudgeResult">
        <include refid="selectGrassEarlyWarningJudgeVo"/>
        <where>  
            <if test="judgeIndex != null "> and judge_index = #{judgeIndex}</if>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="pointId != null  and pointId != ''"> and point_id = #{pointId}</if>
            <if test="judge != null  and judge != ''"> and judge = #{judge}</if>
            <if test="pointValue != null "> and point_value = #{pointValue}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectGrassEarlyWarningJudgeByRulesId" parameterType="Long" resultMap="GrassEarlyWarningJudgeResult">
        <include refid="selectGrassEarlyWarningJudgeVo"/>
        where rules_id = #{rulesId}
    </select>
        
    <insert id="insertGrassEarlyWarningJudge" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningJudge">
        insert into grass_early_warning_judge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rulesId != null ">rules_id,</if>
            <if test="judgeIndex != null ">judge_index,</if>
            <if test="deviceId != null  and deviceId != ''">device_id,</if>
            <if test="pointId != null  and pointId != ''">point_id,</if>
            <if test="judge != null  and judge != ''">judge,</if>
            <if test="pointValue != null ">point_value,</if>
            <if test="tenantId != null  and tenantId != ''">tenant_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rulesId != null ">#{rulesId},</if>
            <if test="judgeIndex != null ">#{judgeIndex},</if>
            <if test="deviceId != null  and deviceId != ''">#{deviceId},</if>
            <if test="pointId != null  and pointId != ''">#{pointId},</if>
            <if test="judge != null  and judge != ''">#{judge},</if>
            <if test="pointValue != null ">#{pointValue},</if>
            <if test="tenantId != null  and tenantId != ''">#{tenantId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <insert id="batchInsertGrassEarlyWarningJudge">
        insert into grass_early_warning_judge
        (
            rules_id,
            judge_index,
            device_id,
            point_id,
            judge,
            point_value,
            tenant_id,
            create_time,
            create_by,
            update_time,
            update_by
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
        (
            #{item.rulesId},
            #{item.judgeIndex},
            #{item.deviceId},
            #{item.pointId},
            #{item.judge},
            #{item.pointValue},
            #{item.tenantId},
            #{item.createTime},
            #{item.createBy},
            #{item.updateTime},
            #{item.updateBy}
        )
        </foreach>
    </insert>

    <update id="updateGrassEarlyWarningJudge" parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningJudge">
        update grass_early_warning_judge
        <trim prefix="SET" suffixOverrides=",">
            <if test="judgeIndex != null ">judge_index = #{judgeIndex},</if>
            <if test="deviceId != null  and deviceId != ''">device_id = #{deviceId},</if>
            <if test="pointId != null  and pointId != ''">point_id = #{pointId},</if>
            <if test="judge != null  and judge != ''">judge = #{judge},</if>
            <if test="pointValue != null ">point_value = #{pointValue},</if>
            <if test="tenantId != null  and tenantId != ''">tenant_id = #{tenantId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where rules_id = #{rulesId}
    </update>

    <delete id="deleteGrassEarlyWarningJudgeByRulesId" parameterType="Long">
        delete from grass_early_warning_judge where rules_id = #{rulesId}
    </delete>

    <delete id="deleteGrassEarlyWarningJudgeByTenantId" parameterType="String">
        delete from grass_early_warning_judge where tenant_id = #{tenantId}
    </delete>

    <delete id="deleteGrassEarlyWarningJudgeByIds" parameterType="Long">
        delete from grass_early_warning_judge where rules_id in
        <foreach item="rulesId" collection="array" open="(" separator="," close=")">
            #{rulesId}
        </foreach>
    </delete>
    
</mapper>