<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.earlywarning.mapper.GrassEarlyWarningJudgeHisMapper">

    <resultMap type="com.rexel.earlywarning.domain.GrassEarlyWarningJudgeHis" id="GrassEarlyWarningJudgeHisResult">
        <result property="id" column="id"/>
        <result property="hisId" column="his_id"/>
        <result property="rulesId" column="rules_id"/>
        <result property="judgeIndex" column="judge_index"/>
        <result property="deviceId" column="device_id"/>
        <result property="pointId" column="point_id"/>
        <result property="judge" column="judge"/>
        <result property="pointValue" column="point_value"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectGrassEarlyWarningJudgeHisVo">
        select id,
               his_id,
               rules_id,
               judge_index,
               device_id,
               point_id,
               judge,
               point_value,
               tenant_id,
               create_time,
               create_by,
               update_time,
               update_by,
               remark
        from grass_early_warning_judge_his
    </sql>

    <select id="selectGrassEarlyWarningJudgeHisList"
            parameterType="com.rexel.earlywarning.domain.GrassEarlyWarningJudgeHis"
            resultMap="GrassEarlyWarningJudgeHisResult">
        <include refid="selectGrassEarlyWarningJudgeHisVo"/>
        <where>
            <if test="hisId != null ">
                and his_id = #{hisId}
            </if>
            <if test="rulesId != null ">
                and rules_id = #{rulesId}
            </if>
            <if test="judgeIndex != null  and judgeIndex != ''">
                and judge_index = #{judgeIndex}
            </if>
            <if test="deviceId != null  and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="pointId != null  and pointId != ''">
                and point_id = #{pointId}
            </if>
            <if test="judge != null  and judge != ''">
                and judge = #{judge}
            </if>
            <if test="pointValue != null ">
                and point_value = #{pointValue}
            </if>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <insert id="batchGrassEarlyWarningJudgeHis" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into grass_early_warning_judge_his
        ( id , his_id, rules_id , judge_index , device_id , point_id , judge , point_value , tenant_id , create_time ,
        create_by , update_time , update_by , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.hisId}, #{item.rulesId}, #{item.judgeIndex}, #{item.deviceId}, #{item.pointId},
            #{item.judge}, #{item.pointValue}, #{item.tenantId}, #{item.createTime}, #{item.createBy},
            #{item.updateTime}, #{item.updateBy}, #{item.remark})
        </foreach>
    </insert>

</mapper>
