<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczPumpMapper">

    <resultMap type="LaoczPump" id="LaoczPumpResult">
        <result property="pumpId" column="pump_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="fireZoneId" column="fire_zone_id"/>
        <result property="pumpNumber" column="pump_number"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <sql id="selectLaoczPumpVo">
        select pump_id,
               tenant_id,
               fire_zone_id,
               pump_number,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_pump
    </sql>

    <select id="selectLaoczPumpList"  resultType="com.rexel.laocz.domain.vo.LaoczPumpVo">
        SELECT
        lp.pump_id,
        lp.pump_number,
        lai.area_name,
        lfzi.fire_zone_name
        FROM
        laocz_pump lp
        LEFT JOIN
        laocz_fire_zone_info lfzi on lp.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN
        laocz_area_info lai on lfzi.area_id = lai.area_id
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="fireZoneId != null ">
                and lp.fire_zone_id = #{fireZoneId}
            </if>
            <if test="pumpNumber != null  and pumpNumber != ''">
                and pump_number = #{pumpNumber}
            </if>
            <if test="areaId != null ">
                AND lfzi.area_id = #{areaId}
            </if>
        </where>
        order by lp.create_time desc
    </select>
    <select id="selectPumpDetails" resultType="com.rexel.laocz.domain.vo.LaoczPumpVo">
        SELECT
        lp.pump_id,
        lp.pump_number,
        lai.area_name,
        lfzi.fire_zone_name,
        lpp.use_mark,
        gpi.point_id,
        gpi.point_name,
        gpi.id as point_key
        FROM
        laocz_pump lp
        LEFT JOIN
        laocz_fire_zone_info lfzi on lp.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN
        laocz_area_info lai on lfzi.area_id = lai.area_id
        LEFT JOIN
        laocz_pump_point lpp on lpp.pump_id = lp.pump_id
        LEFT JOIN
        grass_point_info gpi on gpi.id = lpp.point_primary_key
        <where>
            <if test="pumpId != null ">
                and lp.pump_id = #{pumpNumber}
            </if>
        </where>
    </select>
    <select id="getPointInfo" resultType="com.rexel.laocz.domain.vo.PointInfo">
        SELECT
        gpi.point_type,
        gpi.point_id,
        gpi.point_name
        FROM
        laocz_pump lp
        JOIN laocz_pump_point lpp ON lp.pump_id = lpp.pump_id
        LEFT JOIN grass_point_info gpi ON gpi.id = lpp.point_primary_key
        <where>
            <if test="pumpId != null">
                and lp.pump_id = #{pumpId}
            </if>
        </where>
    </select>

    <insert id="batchLaoczPump" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="pumpId">
        insert into laocz_pump
        ( pump_id , tenant_id , fire_zone_id , pump_number , create_by , create_time , update_by , update_time , remark)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.pumpId}, #{item.tenantId}, #{item.fireZoneId}, #{item.pumpNumber}, #{item.createBy},
            #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
