<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczPotteryAltarManagementMapper">

    <resultMap type="LaoczPotteryAltarManagement" id="LaoczPotteryAltarManagementResult">
        <result property="potteryAltarId" column="pottery_altar_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="potteryAltarNumber" column="pottery_altar_number"/>
        <result property="potteryAltarState" column="pottery_altar_state"/>
        <result property="fireZoneId" column="fire_zone_id"/>
        <result property="potteryAltarFullAltarWeight" column="pottery_altar_full_altar_weight"/>
        <result property="potteryAltarQrCodeAddress" column="pottery_altar_qr_code_address"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczPotteryAltarManagementVo">
        select pottery_altar_id,
               tenant_id,
               pottery_altar_number,
               pottery_altar_state,
               fire_zone_id,
               pottery_altar_full_altar_weight,
               pottery_altar_qr_code_address,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_pottery_altar_management
    </sql>
    <select id="setCurrentWineIndustry" parameterType="long"
            resultType="com.rexel.laocz.domain.vo.CurrentWineIndustryVO">
        SELECT
        llm.liquor_name,
        lbpm.liquor_batch_id,
        lbpm.actual_weight,
        lbpm.storing_time,
        lbpm.storing_time as StorageDuration,
        llm.liquor_level,
        llm.liquor_round,
        llm.liquor_flavor_name,
        llm.liquor_source,
        llm.liquor_brewing_time,
        llm.liquor_year,
        llm.liquor_content
        FROM laocz_batch_pottery_mapping lbpm
        LEFT JOIN laocz_liquor_batch llb ON lbpm.liquor_batch_id = llb.liquor_batch_id
        LEFT JOIN laocz_liquor_management llm ON llb.liquor_management_id = llm.liquor_management_id
        <where>
            <if test="potteryAltarId != null  and potteryAltarId != ''">
                and lbpm.pottery_altar_id = #{potteryAltarId}
            </if>
        </where>
    </select>
    <select id="setPotteryAltarInformation" parameterType="long"
            resultType="com.rexel.laocz.domain.vo.PotteryAltarInformationVO">
        SELECT
        lpam.pottery_altar_number,
        lpam.pottery_altar_full_altar_weight,
        lfzi.fire_zone_name,
        lai.area_name,
        sdd.dict_label as potteryAltarState
        FROM laocz_pottery_altar_management lpam
        LEFT JOIN laocz_fire_zone_info lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info lai ON lfzi.area_id = lai.area_id
        LEFT JOIN sys_dict_data sdd ON lpam.pottery_altar_state = sdd.dict_value AND sdd.dict_type =
        'Ceramide_condition'
        <where>
            <if test="potteryAltarId != null  and potteryAltarId != ''">
                and lpam.pottery_altar_id = #{potteryAltarId}
            </if>
        </where>
    </select>

    <select id="selectLaoczPotteryAltarManagementList" parameterType="LaoczPotteryAltarManagement"
            resultMap="LaoczPotteryAltarManagementResult">
        <include refid="selectLaoczPotteryAltarManagementVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="potteryAltarNumber != null  and potteryAltarNumber != ''">
                and pottery_altar_number = #{potteryAltarNumber}
            </if>
            <if test="potteryAltarState != null ">
                and pottery_altar_state = #{potteryAltarState}
            </if>
            <if test="fireZoneId != null ">
                and fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarFullAltarWeight != null ">
                and pottery_altar_full_altar_weight = #{potteryAltarFullAltarWeight}
            </if>
            <if test="potteryAltarQrCodeAddress != null  and potteryAltarQrCodeAddress != ''">
                and pottery_altar_qr_code_address = #{potteryAltarQrCodeAddress}
            </if>
        </where>
    </select>
    <select id="selectWineEntryPotteryAltarList" resultType="com.rexel.laocz.domain.vo.PotteryAltarVo">
        SELECT
        lfzi.fire_zone_name,
        lai.area_name,
        lpam.pottery_altar_id,
        lpam.pottery_altar_number,
        lpam.pottery_altar_state,
        lpam.pottery_altar_full_altar_weight,
        lpam.pottery_altar_qr_code_address,
        lbpm.actual_weight,
        llb.liquor_management_id,
        lbpm.liquor_batch_id,
        lbpm.storing_time
        FROM
        laocz_pottery_altar_management AS lpam
        LEFT JOIN laocz_batch_pottery_mapping AS lbpm ON lpam.pottery_altar_id = lbpm.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info AS lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info AS lai ON lai.area_id = lfzi.area_id
        LEFT JOIN laocz_liquor_batch AS llb ON lbpm.liquor_batch_id=llb.liquor_batch_id
        <where>
            <!--条件查询
            1有酒（取样，出酒，倒坛（出酒））
            2没酒（入酒）
            3倒坛（入酒）：空罐子，或者有酒倒坛入酒同一批次的有酒的坛子-->
            <if test="conditionQuery!=null and conditionQuery!=''">
                <if test="conditionQuery=='1'.toString()">
                    lbpm.pottery_altar_id IS NOT NULL
                </if>
                <if test="conditionQuery=='2'.toString()">
                    lbpm.pottery_altar_id IS NULL
                </if>
                <if test="conditionQuery=='3'.toString()">
                    lbpm.pottery_altar_id IS NULL OR lbpm.liquor_batch_id=#{liquorBatchId}
                </if>
            </if>
            <if test="potteryAltarIds!=null and potteryAltarIds.size()>0">
                AND NOT EXISTS (
                SELECT 1 FROM laocz_batch_pottery_mapping lbpm2
                WHERE lbpm2.pottery_altar_id = lpam.pottery_altar_id
                AND lbpm2.pottery_altar_id IN
                <foreach item="id" collection="potteryAltarIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
                )
            </if>
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lpam.fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                AND lpam.pottery_altar_number LIKE CONCAT('%', #{potteryAltarNumber}, '%')
            </if>
        </where>
    </select>
    <select id="selectLaoczPotteryAltarManagementListDetail"
            resultType="com.rexel.laocz.domain.vo.PotteryAltarVo">
        select lpam.pottery_altar_id,
        lpam.pottery_altar_number,
        lpam.pottery_altar_state,
        lai.area_name,
        lfzi.area_id,
        lfzi.fire_zone_id,
        lfzi.fire_zone_name,
        lpam.pottery_altar_full_altar_weight,
        lpam.pottery_altar_qr_code_address
        FROM laocz_pottery_altar_management lpam
        LEFT JOIN
        laocz_fire_zone_info lfzi on lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN
        laocz_area_info lai on lfzi.area_id = lai.area_id
        left join laocz_batch_pottery_mapping bpm on bpm.pottery_altar_id = lpam.pottery_altar_id
        <where>
            <if test="areaId!=null and areaId!=''">
                AND lfzi.area_id = #{areaId}
            </if>
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lpam.fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                AND lpam.pottery_altar_number like concat('%', #{potteryAltarNumber}, '%')
            </if>
            <if test="liquorBatchId!=null and liquorBatchId!=''">
                AND bpm.liquor_batch_id like concat('%', #{liquorBatchId}, '%')
            </if>
        </where>
        order by lpam.create_time desc
    </select>
    <select id="wineEntryPotteryAltarList" resultType="com.rexel.laocz.domain.vo.WineOperaPotteryAltarVO">
        SELECT
        lfzi.fire_zone_name,
        lai.area_name,
        lpam.pottery_altar_id,
        lpam.pottery_altar_number,
        lpam.pottery_altar_full_altar_weight,
        llb.liquor_management_id
        FROM
        laocz_pottery_altar_management AS lpam
        LEFT JOIN laocz_batch_pottery_mapping AS lbpm ON lpam.pottery_altar_id = lbpm.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info AS lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info AS lai ON lai.area_id = lfzi.area_id
        LEFT JOIN laocz_liquor_batch AS llb ON lbpm.liquor_batch_id=llb.liquor_batch_id
        <where>
            lbpm.pottery_altar_id IS NULL
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lpam.fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                AND lpam.pottery_altar_number LIKE CONCAT('%', #{potteryAltarNumber}, '%')
            </if>
            <if test="potteryAltarState!=null">
                AND lpam.pottery_altar_state = #{potteryAltarState}
            </if>
        </where>
    </select>
    <select id="wineOutPotteryAltarList" resultType="com.rexel.laocz.domain.vo.WineOperaPotteryAltarVO">
        SELECT
        lfzi.fire_zone_name,
        lai.area_name,
        lpam.pottery_altar_id,
        lpam.pottery_altar_number,
        lpam.pottery_altar_full_altar_weight,
        llb.liquor_management_id,
        lbpm.actual_weight,
        lbpm.storing_time
        FROM
        laocz_pottery_altar_management AS lpam
        LEFT JOIN laocz_batch_pottery_mapping AS lbpm ON lpam.pottery_altar_id = lbpm.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info AS lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info AS lai ON lai.area_id = lfzi.area_id
        LEFT JOIN laocz_liquor_batch AS llb ON lbpm.liquor_batch_id=llb.liquor_batch_id
        <where>
            lbpm.pottery_altar_id IS NOT NULL
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lpam.fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                AND lpam.pottery_altar_number LIKE CONCAT('%', #{potteryAltarNumber}, '%')
            </if>
            <if test="potteryAltarState!=null">
                AND lpam.pottery_altar_state = #{potteryAltarState}
            </if>
            <if test="realStatus!=null">
                AND lbpm.real_status = #{realStatus}
            </if>
        </where>
    </select>
    <select id="wineSamplePotteryAltarList" resultType="com.rexel.laocz.domain.vo.WineOperaPotteryAltarVO">
        SELECT
        lfzi.fire_zone_name,
        lai.area_name,
        lpam.pottery_altar_id,
        lpam.pottery_altar_number,
        lpam.pottery_altar_full_altar_weight,
        llb.liquor_management_id,
        lbpm.actual_weight
        FROM
        laocz_pottery_altar_management AS lpam
        LEFT JOIN laocz_batch_pottery_mapping AS lbpm ON lpam.pottery_altar_id = lbpm.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info AS lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info AS lai ON lai.area_id = lfzi.area_id
        LEFT JOIN laocz_liquor_batch AS llb ON lbpm.liquor_batch_id=llb.liquor_batch_id
        <where>
            lbpm.pottery_altar_id IS NOT NULL
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lpam.fire_zone_id = #{fireZoneId}
            </if>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                AND lpam.pottery_altar_number LIKE CONCAT('%', #{potteryAltarNumber}, '%')
            </if>
            <if test="potteryAltarState!=null">
                AND lpam.pottery_altar_state = #{potteryAltarState}
            </if>
            <if test="realStatus!=null">
                AND lbpm.real_status = #{realStatus}
            </if>
        </where>
    </select>

    <insert id="batchLaoczPotteryAltarManagement" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="potteryAltarId">
        insert into laocz_pottery_altar_management
        ( pottery_altar_id , tenant_id , pottery_altar_number , pottery_altar_state , fire_zone_id ,
        pottery_altar_full_altar_weight , pottery_altar_qr_code_address , create_by , create_time , update_by ,
        update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.potteryAltarId}, #{item.tenantId}, #{item.potteryAltarNumber}, #{item.potteryAltarState},
            #{item.fireZoneId}, #{item.potteryAltarFullAltarWeight}, #{item.potteryAltarQrCodeAddress},
            #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
