<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczWineDetailsMapper">

    <resultMap type="LaoczWineDetails" id="LaoczWineDetailsResult">
        <result property="wineDetailsId" column="wine_details_id"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="busyId" column="busy_id"/>
        <result property="liquorBatchId" column="liquor_batch_id"/>
        <result property="potteryAltarId" column="pottery_altar_id"/>
        <result property="busyStatus" column="busy_status"/>
        <result property="potteryAltarApplyWeight" column="pottery_altar_apply_weight"/>
        <result property="weighingTank" column="weighing_tank"/>
        <result property="pumpId" column="pump_id"/>
        <result property="weighingTankWeight" column="weighing_tank_weight"/>
        <result property="operationTime" column="operation_time"/>
        <result property="samplingPurpose" column="sampling_purpose"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczWineDetailsVo">
        select wine_details_id,
               work_order_id,
               tenant_id,
               busy_id,
               liquor_batch_id,
               pottery_altar_id,
               busy_status,
               pottery_altar_apply_weight,
               weighing_tank,
               pump_id,
               weighing_tank_weight,
               operation_time,
               sampling_purpose,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_wine_details
    </sql>

    <select id="selectLaoczWineDetailsList" parameterType="LaoczWineDetails" resultMap="LaoczWineDetailsResult">
        <include refid="selectLaoczWineDetailsVo"/>
        <where>
            <if test="workOrderId != null  and workOrderId != ''">
                and work_order_id = #{workOrderId}
            </if>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="busyId != null  and busyId != ''">
                and busy_id = #{busyId}
            </if>
            <if test="liquorBatchId != null  and liquorBatchId != ''">
                and liquor_batch_id = #{liquorBatchId}
            </if>
            <if test="potteryAltarId != null ">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="busyStatus != null  and busyStatus != ''">
                and busy_status = #{busyStatus}
            </if>
            <if test="potteryAltarApplyWeight != null ">
                and pottery_altar_apply_weight = #{potteryAltarApplyWeight}
            </if>
            <if test="weighingTank != null ">
                and weighing_tank = #{weighingTank}
            </if>
            <if test="pumpId != null ">
                and pump_id = #{pumpId}
            </if>
            <if test="weighingTankWeight != null ">
                and weighing_tank_weight = #{weighingTankWeight}
            </if>
            <if test="operationTime != null ">
                and operation_time = #{operationTime}
            </if>
            <if test="samplingPurpose != null  and samplingPurpose != ''">
                and sampling_purpose = #{samplingPurpose}
            </if>
        </where>
    </select>
    <select id="selectMatterDetailVOList" resultType="com.rexel.laocz.domain.vo.MatterDetailVO">
        SELECT lwd.wine_details_id,
               lpam.pottery_altar_number
        FROM laocz_wine_details lwd
                 LEFT JOIN laocz_pottery_altar_management lpam ON lwd.pottery_altar_id = lpam.pottery_altar_id
        WHERE lwd.busy_id = #{busyId}
    </select>
    <select id="selectWineDetailVOById" resultType="com.rexel.laocz.domain.vo.WineDetailVO">
        SELECT lwd.wine_details_id,
        lwd.pottery_altar_apply_weight,
        lwd.liquor_batch_id,
        lwd.busy_status,
        lpam.pottery_altar_number,
        lpam.pottery_altar_full_altar_weight,
        lfzi.fire_zone_name,
        lai.area_name,
        llm.liquor_management_id,
        llm.liquor_name
        FROM laocz_wine_details lwd
        LEFT JOIN laocz_pottery_altar_management lpam ON lwd.pottery_altar_id = lpam.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info lfzi ON lpam.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN laocz_area_info lai ON lai.area_id = lfzi.area_id
        LEFT JOIN laocz_liquor_batch llb ON lwd.liquor_batch_id = llb.liquor_batch_id
        LEFT JOIN laocz_liquor_management llm ON llb.liquor_management_id = llm.liquor_management_id
        <where>
            <choose>
                <when test="wineDetailsId != null">
                    lwd.wine_details_id = #{wineDetailsId}
                </when>
                <otherwise>
                    1=2
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectWineDetailWeighingTankPointVOList" resultType="com.rexel.laocz.domain.vo.WineDetailPointVO">
        SELECT lwtp.use_mark  as useMark,
               gpi.point_id   as pointId,
               gpi.point_name as pointName,
               gpi.point_type as pointType
        FROM laocz_wine_details lwd
                 LEFT JOIN laocz_weighing_tank_point lwtp ON lwd.weighing_tank = lwtp.weighing_tank_id
                 LEFT JOIN grass_point_info gpi ON lwtp.point_primary_key = gpi.id
        WHERE lwd.wine_details_id = #{wineDetailsId}
    </select>
    <select id="selectWineDetailPumpPointVOList" resultType="com.rexel.laocz.domain.vo.WineDetailPointVO">
        SELECT lpp.use_mark   as useMark,
               gpi.point_id   as pointId,
               gpi.point_name as pointName,
               gpi.point_type as pointType
        FROM laocz_wine_details lwd
                 LEFT JOIN laocz_pump_point lpp ON lwd.pump_id = lpp.pump_id
                 LEFT JOIN grass_point_info gpi ON lpp.point_primary_key = gpi.id
        WHERE lwd.wine_details_id = #{wineDetailsId}
    </select>

    <insert id="batchLaoczWineDetails" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="wineDetailsId">
        insert into laocz_wine_details
        ( wine_details_id , work_order_id , tenant_id , busy_id , liquor_batch_id , pottery_altar_id ,busy_status,
        pottery_altar_apply_weight , weighing_tank , pump_id , weighing_tank_weight , operation_time , sampling_purpose
        , create_by , create_time , update_by , update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.wineDetailsId}, #{item.workOrderId}, #{item.tenantId}, #{item.busyId}, #{item.liquorBatchId},
            #{item.potteryAltarId},#{item.busyStatus}, #{item.potteryAltarApplyWeight}, #{item.weighingTank},
            #{item.pumpId},
            #{item.weighingTankWeight}, #{item.operationTime}, #{item.samplingPurpose}, #{item.createBy},
            #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
