<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczWineHistoryMapper">

    <resultMap type="LaoczWineHistory" id="LaoczWineHistoryResult">
        <result property="winHisId" column="win_his_id"/>
        <result property="busyId" column="busy_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="liquorBatchId" column="liquor_batch_id"/>
        <result property="potteryAltarId" column="pottery_altar_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="potteryAltarApplyWeight" column="pottery_altar_apply_weight"/>
        <result property="operatingWeight" column="operating_weight"/>
        <result property="remainingWeight" column="remaining_weight"/>
        <result property="lossWeight" column="loss_weight"/>
        <result property="weighingTank" column="weighing_tank"/>
        <result property="pumpId" column="pump_id"/>
        <result property="weighingTankWeight" column="weighing_tank_weight"/>
        <result property="operationTime" column="operation_time"/>
        <result property="samplingPurpose" column="sampling_purpose"/>
        <result property="samplingWeight" column="sampling_weight"/>
        <result property="areaName" column="area_name"/>
        <result property="areaId" column="area_id"/>
        <result property="fireZoneName" column="fire_zone_name"/>
        <result property="fireZoneId" column="fire_zone_id"/>
        <result property="potteryAltarNumber" column="pottery_altar_number"/>
        <result property="potteryAltarQrCodeAddress" column="pottery_altar_qr_code_address"/>
        <result property="potteryAltarFullAltarWeight" column="pottery_altar_full_altar_weight"/>
        <result property="liquorName" column="liquor_name"/>
        <result property="liquorLevel" column="liquor_level"/>
        <result property="liquorRound" column="liquor_round"/>
        <result property="liquorFlavorName" column="liquor_flavor_name"/>
        <result property="liquorSource" column="liquor_source"/>
        <result property="liquorYear" column="liquor_year"/>
        <result property="liquorBrewingTime" column="liquor_brewing_time"/>
        <result property="liquorContent" column="liquor_content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczWineHistoryVo">
        select win_his_id,
               busy_id,
               tenant_id,
               work_order_id,
               liquor_batch_id,
               pottery_altar_id,
               operation_type,
               pottery_altar_apply_weight,
               operating_weight,
               remaining_weight,
               loss_weight,
               weighing_tank,
               pump_id,
               weighing_tank_weight,
               operation_time,
               sampling_purpose,
               sampling_weight,
               area_id,
               area_name,
               fire_zone_id,
               fire_zone_name,
               pottery_altar_number,
               pottery_altar_qr_code_address,
               pottery_altar_full_altar_weight,
               liquor_name,
               liquor_level,
               liquor_round,
               liquor_flavor_name,
               liquor_source,
               liquor_year,
               liquor_brewing_time,
               liquor_content,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_wine_history
    </sql>

    <select id="selectLaoczWineHistoryList" parameterType="LaoczWineHistory" resultMap="LaoczWineHistoryResult">
        <include refid="selectLaoczWineHistoryVo"/>
        <where>
            <if test="busyId != null  and busyId != ''">
                and busy_id = #{busyId}
            </if>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="workOrderId != null  and workOrderId != ''">
                and work_order_id = #{workOrderId}
            </if>
            <if test="liquorBatchId != null  and liquorBatchId != ''">
                and liquor_batch_id = #{liquorBatchId}
            </if>
            <if test="potteryAltarId != null ">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="operationType != null ">
                and operation_type = #{operationType}
            </if>
            <if test="potteryAltarApplyWeight != null ">
                and pottery_altar_apply_weight = #{potteryAltarApplyWeight}
            </if>
            <if test="operatingWeight != null ">
                and operating_weight = #{operatingWeight}
            </if>
            <if test="remainingWeight != null ">
                and remaining_weight = #{remainingWeight}
            </if>
            <if test="lossWeight != null ">
                and loss_weight = #{lossWeight}
            </if>
            <if test="weighingTank != null ">
                and weighing_tank = #{weighingTank}
            </if>
            <if test="pumpId != null ">
                and pump_id = #{pumpId}
            </if>
            <if test="weighingTankWeight != null ">
                and weighing_tank_weight = #{weighingTankWeight}
            </if>
            <if test="operationTime != null ">
                and operation_time = #{operationTime}
            </if>
            <if test="samplingPurpose != null  and samplingPurpose != ''">
                and sampling_purpose = #{samplingPurpose}
            </if>
            <if test="samplingWeight != null ">
                and sampling_weight = #{samplingWeight}
            </if>
            <if test="areaId != null  and areaId != ''">
                and area_id like concat('%', #{areaId}, '%')
            </if>
            <if test="areaName != null  and areaName != ''">
                and area_name like concat('%', #{areaName}, '%')
            </if>
            <if test="fireZoneId != null  and fireZoneId != ''">
                and fire_zone_id like concat('%', #{fireZoneId}, '%')
            </if>
            <if test="fireZoneName != null  and fireZoneName != ''">
                and fire_zone_name like concat('%', #{fireZoneName}, '%')
            </if>
            <if test="potteryAltarNumber != null  and potteryAltarNumber != ''">
                and pottery_altar_number = #{potteryAltarNumber}
            </if>
            <if test="potteryAltarQrCodeAddress != null  and potteryAltarQrCodeAddress != ''">
                and pottery_altar_qr_code_address = #{potteryAltarQrCodeAddress}
            </if>
            <if test="potteryAltarFullAltarWeight != null ">
                and pottery_altar_full_altar_weight = #{potteryAltarFullAltarWeight}
            </if>
            <if test="liquorName != null  and liquorName != ''">
                and liquor_name like concat('%', #{liquorName}, '%')
            </if>
            <if test="liquorLevel != null  and liquorLevel != ''">
                and liquor_level = #{liquorLevel}
            </if>
            <if test="liquorRound != null  and liquorRound != ''">
                and liquor_round = #{liquorRound}
            </if>
            <if test="liquorFlavorName != null  and liquorFlavorName != ''">
                and liquor_flavor_name like concat('%', #{liquorFlavorName}, '%')
            </if>
            <if test="liquorSource != null  and liquorSource != ''">
                and liquor_source = #{liquorSource}
            </if>
            <if test="liquorYear != null  and liquorYear != ''">
                and liquor_year = #{liquorYear}
            </if>
            <if test="liquorBrewingTime != null ">
                and liquor_brewing_time = #{liquorBrewingTime}
            </if>
            <if test="liquorContent != null  and liquorContent != ''">
                and liquor_content = #{liquorContent}
            </if>
        </where>
    </select>
    <select id="selectLaoczWineHistory" resultType="com.rexel.laocz.domain.vo.LaoczWineHistoryVO">
        select
        lwh.win_his_id,
        lwh.busy_id,
        lwh.tenant_id,
        lwh.work_order_id,
        lwh.liquor_batch_id,
        lwh.pottery_altar_id,
        sdd.dict_label AS operation_type,
        lwh.pottery_altar_apply_weight,
        lwh.remaining_weight,
        lwh.loss_weight,
        lwh.weighing_tank,
        lwh.pump_id,
        lwh.weighing_tank_weight,
        lwh.operation_time,
        lwh.sampling_purpose,
        lwh.sampling_weight,
        lwh.area_name,
        lwh.fire_zone_name,
        lwh.pottery_altar_number,
        lwh.pottery_altar_qr_code_address,
        lwh.pottery_altar_full_altar_weight,
        lwh.liquor_name,
        lwh.liquor_level,
        lwh.liquor_round,
        lwh.liquor_flavor_name,
        lwh.liquor_source,
        lwh.liquor_year,
        lwh.liquor_brewing_time,
        lwh.liquor_content,
        lwh.create_by,
        lwh.create_time,
        lwh.update_by,
        lwh.update_time,
        lwh.remark
        from laocz_wine_history lwh
        LEFT JOIN sys_dict_data sdd ON lwh.operation_type = sdd.dict_value AND sdd.dict_type = 'operation_type'
        <where>
            <if test="potteryAltarId != null and potteryAltarId != ''">
                and lwh.pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="fromTime != null and fromTime != '' and endTime != null and endTime != ''">
                and lwh.operation_time between #{fromTime} and #{endTime}
            </if>
            <if test="operationType != null and operationType != ''">
                and lwh.operation_type = #{operationType}
            </if>
        </where>
    </select>
    <select id="selectLaoczWineHistoryStatement" resultType="com.rexel.laocz.domain.vo.LaoczWineHistoryVO">
        <include refid="selectLaoczWineHistoryVo"/>
        <where>
            <if test="liquorBatchId != null  and liquorBatchId != ''">
                and liquor_batch_id like concat('%', #{liquorBatchId}, '%')
            </if>
            <if test="potteryAltarId != null ">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="fromTime != null and fromTime != '' and endTime != null and endTime != ''">
                and operation_time between #{fromTime} and #{endTime}
            </if>
            <if test="areaId != null  and areaId != ''">
                and area_id = #{areaId}
            </if>
            <if test="fireZoneId != null  and fireZoneId != ''">
                and fire_zone_id = #{fireZoneId}
            </if>
        </where>
    </select>
    <select id="selectPotteryAltarFullAltarWeight"
            resultType="com.rexel.laocz.domain.vo.PotteryAltarInfomationDInfoVO">
        SELECT
        lwh.work_order_id,
        lwd.pottery_altar_apply_weight as ApplyWeight,
        lwh.liquor_name,
        lwh.liquor_batch_id,
        lwh.liquor_level,
        lwh.liquor_source,
        lwh.liquor_round,
        lwh.liquor_brewing_time,
        lwh.liquor_flavor_name,
        lwh.liquor_year,
        lwh.liquor_content,
        lwh.pottery_altar_apply_weight,
        lwt.weighing_tank_number,
        lwh.remaining_weight,
        lpam.pottery_altar_number,
        sdd.dict_label as potteryAltarState,
        lwh.area_name,
        lwh.fire_zone_name,
        lpam.pottery_altar_full_altar_weight
        FROM
        laocz_wine_history lwh
        LEFT JOIN
        laocz_wine_details lwd ON lwd.liquor_batch_id = lwh.liquor_batch_id
        LEFT JOIN
        laocz_weighing_tank lwt ON lwh.weighing_tank = lwt.weighing_tank_id
        LEFT JOIN
        laocz_pottery_altar_management lpam ON lpam.pottery_altar_id = lwh.pottery_altar_id
        LEFT JOIN sys_dict_data sdd ON lpam.pottery_altar_state = sdd.dict_value AND sdd.dict_type =
        'Ceramide_condition'
        <where>
            <if test="winHisId != null and winHisId != ''">
                and lwh.win_his_id = #{winHisId}
            </if>
        </where>
    </select>

    <insert id="batchLaoczWineHistory" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="winHisId">
        insert into laocz_wine_history
        ( win_his_id , busy_id , tenant_id , work_order_id , liquor_batch_id , pottery_altar_id , operation_type ,
        pottery_altar_apply_weight ,operating_weight, remaining_weight , loss_weight , weighing_tank , pump_id ,
        weighing_tank_weight ,
        operation_time , sampling_purpose , sampling_weight ,area_id, area_name ,fire_zone_id, fire_zone_name ,
        pottery_altar_number ,
        pottery_altar_qr_code_address , pottery_altar_full_altar_weight , liquor_name , liquor_level , liquor_round ,
        liquor_flavor_name , liquor_source , liquor_year , liquor_brewing_time , liquor_content , create_by ,
        create_time , update_by , update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.winHisId}, #{item.busyId}, #{item.tenantId}, #{item.workOrderId}, #{item.liquorBatchId},
            #{item.potteryAltarId}, #{item.operationType}, #{item.potteryAltarApplyWeight},#{item.operatingWeight},
            #{item.remainingWeight},
            #{item.lossWeight}, #{item.weighingTank}, #{item.pumpId}, #{item.weighingTankWeight}, #{item.operationTime},
            #{item.samplingPurpose}, #{item.samplingWeight},#{item.areaId}, #{item.areaName},#{item.fireZoneId},
            #{item.fireZoneName},
            #{item.potteryAltarNumber}, #{item.potteryAltarQrCodeAddress}, #{item.potteryAltarFullAltarWeight},
            #{item.liquorName}, #{item.liquorLevel}, #{item.liquorRound}, #{item.liquorFlavorName},
            #{item.liquorSource}, #{item.liquorYear}, #{item.liquorBrewingTime}, #{item.liquorContent},
            #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>
    <insert id="saveHistory" useGeneratedKeys="true">
        INSERT INTO laocz_wine_history(
        `busy_id`,
        `tenant_id`,
        `work_order_id`,
        `liquor_batch_id`,
        `pottery_altar_id`,
        `operation_type`,
        `pottery_altar_apply_weight`,
        `remaining_weight`,
        `loss_weight`,
        `weighing_tank`,
        `pump_id`,
        `weighing_tank_weight`,
        `operation_time`,
        `sampling_purpose`,
        `sampling_weight`,
        `area_name`,
        `fire_zone_name`,
        `pottery_altar_number`,
        `pottery_altar_qr_code_address`,
        `pottery_altar_full_altar_weight`,
        `liquor_name`,
        `liquor_level`,
        `liquor_round`,
        `liquor_flavor_name`,
        `liquor_source`,
        `liquor_year`,
        `liquor_brewing_time`,
        `liquor_content`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`,
        `remark`
        )
        SELECT
        lwd.busy_id,
        lwd.tenant_id,
        lwd.work_order_id,
        lwd.liquor_batch_id,
        lwd.pottery_altar_id,
        lwo.operation_type,
        lwd.pottery_altar_apply_weight,
        NULL as `remaining_weight`, -- 剩余重量，需要根据实际情况提供
        NULL as `loss_weight`, -- 损失重量，需要根据实际情况提供
        lwd.weighing_tank,
        lwd.pump_id,
        lwd.weighing_tank_weight,
        lwd.operation_time,
        NULL as `sampling_purpose`, -- 取样目的，需要根据实际情况提供
        NULL as `sampling_weight`, -- 取样重量，需要根据实际情况提供
        lai.area_name,
        lfzi.fire_zone_name,
        lpam.pottery_altar_number,
        lpam.pottery_altar_qr_code_address,
        lpam.pottery_altar_full_altar_weight,
        llm.liquor_name,
        llm.liquor_level,
        NULL as `liquor_round`, -- 酒的轮次，需要根据实际情况提供
        llm.liquor_flavor_name,
        llm.liquor_source,
        llm.liquor_year,
        llm.liquor_brewing_time,
        llm.liquor_content,
        NULL as `create_by`, -- 创建者，需要根据实际情况提供
        CURRENT_TIMESTAMP as `create_time`,
        NULL as `update_by`, -- 更新者，需要根据实际情况提供
        CURRENT_TIMESTAMP as `update_time`,
        NULL as `remark` -- 备注，需要根据实际情况提供
        FROM
        laocz_wine_details lwd
        INNER JOIN laocz_wine_operations lwo ON lwd.busy_id=lwo.busy_id
        LEFT JOIN laocz_pottery_altar_management lpam ON lwd.pottery_altar_id=lpam.pottery_altar_id
        LEFT JOIN laocz_fire_zone_info lfzi ON lfzi.fire_zone_id=lpam.fire_zone_id
        LEFT JOIN laocz_area_info lai ON lai.area_id=lfzi.area_id
        LEFT JOIN laocz_liquor_batch llb ON llb.liquor_batch_id=lwd.liquor_batch_id
        LEFT JOIN laocz_liquor_management llm ON llm.liquor_management_id=llb.liquor_management_id
        <where>
            <if test="wineDetailsId!=null">
                lwd.wine_details_id=#{wineDetailsId}
            </if>
        </where>

    </insert>

</mapper>
