<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczWeighingTankMapper">

    <resultMap type="LaoczWeighingTank" id="LaoczWeighingTankResult">
        <result property="weighingTankId" column="weighing_tank_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="fireZoneId" column="fire_zone_id"/>
        <result property="weighingTankNumber" column="weighing_tank_number"/>
        <result property="fullTankUpperLimit" column="full_tank_upper_limit"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczWeighingTankVo">
        select weighing_tank_id,
               tenant_id,
               fire_zone_id,
               weighing_tank_number,
               full_tank_upper_limit,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_weighing_tank
    </sql>

    <select id="selectLaoczWeighingTankList" parameterType="LaoczWeighingTank" resultMap="LaoczWeighingTankResult">
        <include refid="selectLaoczWeighingTankVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="fireZoneId != null ">
                and fire_zone_id = #{fireZoneId}
            </if>
            <if test="weighingTankNumber != null ">
                and weighing_tank_number = #{weighingTankNumber}
            </if>
            <if test="fullTankUpperLimit != null  and fullTankUpperLimit != ''">
                and full_tank_upper_limit = #{fullTankUpperLimit}
            </if>
        </where>
    </select>
    <select id="getPointInfo" resultType="com.rexel.laocz.domain.vo.PointInfo">
        SELECT
        gpi.point_type,
        gpi.point_id,
        gpi.point_name
        FROM
        laocz_weighing_tank lwt
        JOIN laocz_weighing_tank_point lwtp ON lwt.weighing_tank_id = lwtp.weighing_tank_id
        LEFT JOIN grass_point_info gpi ON gpi.id = lwtp.point_primary_key
        <where>
            <if test="weighingTankId != null">
                and lwt.weighing_tank_id = #{weighingTankId}
            </if>
        </where>
    </select>
    <select id="selectLaoczWeighingTankListDetail" resultType="com.rexel.laocz.domain.vo.WeighingTankVo">
        select lwt.weighing_tank_id,
        lwt.weighing_tank_number,
        lai.area_name,
        lfzi.fire_zone_name,
        lwt.full_tank_upper_limit,
        lai.area_id,
        lfzi.fire_zone_id
        FROM laocz_weighing_tank lwt
        LEFT JOIN
        laocz_fire_zone_info lfzi on lwt.fire_zone_id = lfzi.fire_zone_id
        LEFT JOIN
        laocz_area_info lai on lfzi.area_id = lai.area_id
        <where>
            <if test="areaId!=null and areaId!=''">
                AND lfzi.area_id = #{areaId}
            </if>
            <if test="fireZoneId!=null and fireZoneId!=''">
                AND lfzi.fire_zone_id = #{fireZoneId}
            </if>
            <if test="weighingTankNumber!=null and weighingTankNumber!=''">
                AND lwt.weighing_tank_number like concat('%', #{weighingTankNumber}, '%')
            </if>
        </where>
        order by lwt.create_time desc
    </select>

    <insert id="batchLaoczWeighingTank" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="weighingTankId">
        insert into laocz_weighing_tank
        ( weighing_tank_id , tenant_id , fire_zone_id , weighing_tank_number , full_tank_upper_limit , create_by ,
        create_time , update_by , update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.weighingTankId}, #{item.tenantId}, #{item.fireZoneId}, #{item.weighingTankNumber},
            #{item.fullTankUpperLimit}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime},
            #{item.remark})
        </foreach>
    </insert>

</mapper>
