<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczLiquorAlarmHistoryMapper">

    <resultMap type="LaoczLiquorAlarmHistory" id="LaoczLiquorAlarmHistoryResult">
        <result property="liquorAlarmHistoryId" column="liquor_alarm_history_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="liquorRuleId" column="liquor_rule_id"/>
        <result property="potteryAltarId" column="pottery_altar_id"/>
        <result property="liquorRuleName" column="liquor_rule_name"/>
        <result property="liquorRuleJudge" column="liquor_rule_judge"/>
        <result property="liquorRuleThreshold" column="liquor_rule_threshold"/>
        <result property="alarmValue" column="alarm_value"/>
        <result property="liquorRuleNotifyUser" column="liquor_rule_notify_user"/>
        <result property="liquorRuleNotifyTemplate" column="liquor_rule_notify_template"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczLiquorAlarmHistoryVo">
        select liquor_alarm_history_id,
               tenant_id,
               liquor_rule_id,
               pottery_altar_id,
               liquor_rule_name,
               liquor_rule_judge,
               liquor_rule_threshold,
               alarm_value,
               liquor_rule_notify_user,
               liquor_rule_notify_template,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_liquor_alarm_history
    </sql>

    <select id="selectLaoczLiquorAlarmHistoryList" parameterType="LaoczLiquorAlarmHistory"
            resultMap="LaoczLiquorAlarmHistoryResult">
        <include refid="selectLaoczLiquorAlarmHistoryVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="liquorRuleId != null ">
                and liquor_rule_id = #{liquorRuleId}
            </if>
            <if test="potteryAltarId != null ">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="liquorRuleName != null  and liquorRuleName != ''">
                and liquor_rule_name like concat('%', #{liquorRuleName}, '%')
            </if>
            <if test="liquorRuleJudge != null  and liquorRuleJudge != ''">
                and liquor_rule_judge = #{liquorRuleJudge}
            </if>
            <if test="liquorRuleThreshold != null  and liquorRuleThreshold != ''">
                and liquor_rule_threshold = #{liquorRuleThreshold}
            </if>
            <if test="alarmValue != null  and alarmValue != ''">
                and alarm_value = #{alarmValue}
            </if>
            <if test="liquorRuleNotifyUser != null  and liquorRuleNotifyUser != ''">
                and liquor_rule_notify_user = #{liquorRuleNotifyUser}
            </if>
            <if test="liquorRuleNotifyTemplate != null  and liquorRuleNotifyTemplate != ''">
                and liquor_rule_notify_template = #{liquorRuleNotifyTemplate}
            </if>
        </where>
    </select>
    <select id="selectLaoczLiquorAlarmHistory" resultType="com.rexel.laocz.domain.LaoczLiquorAlarmHistory">
        select liquor_alarm_history_id,
        tenant_id,
        liquor_rule_id,
        pottery_altar_id,
        liquor_rule_name,
        liquor_rule_judge,
        liquor_rule_threshold,
        alarm_value,
        liquor_rule_notify_user,
        liquor_rule_notify_template,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from laocz_liquor_alarm_history
        <where>
            <if test="liquorRuleId != null and liquorRuleId != ''">
                and liquor_rule_id = like concat('%', #{liquorRuleId}, '%')
            </if>
            <if test="potteryAltarId != null and potteryAltarId != ''">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="liquorRuleName != null and liquorRuleName != ''">
                and liquor_rule_name like concat('%', #{liquorRuleName}, '%')
            </if>
            <if test="fromTime != null and fromTime != '' and endTime != null and endTime != ''">
                and create_time between #{fromTime} and #{endTime}
            </if>
        </where>
    </select>

    <insert id="batchLaoczLiquorAlarmHistory" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="liquorAlarmHistoryId">
        insert into laocz_liquor_alarm_history
        ( liquor_alarm_history_id , tenant_id , liquor_rule_id , pottery_altar_id , liquor_rule_name , liquor_rule_judge
        , liquor_rule_threshold , alarm_value , liquor_rule_notify_user , liquor_rule_notify_template , create_by ,
        create_time , update_by , update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.liquorAlarmHistoryId}, #{item.tenantId}, #{item.liquorRuleId}, #{item.potteryAltarId},
            #{item.liquorRuleName}, #{item.liquorRuleJudge}, #{item.liquorRuleThreshold}, #{item.alarmValue},
            #{item.liquorRuleNotifyUser}, #{item.liquorRuleNotifyTemplate}, #{item.createBy}, #{item.createTime},
            #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
