<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczAreaInfoMapper">

    <resultMap type="com.rexel.laocz.domain.LaoczAreaInfo" id="LaoczAreaInfoResult">
        <result property="areaId" column="area_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="areaName" column="area_name"/>
        <result property="dispalyOrder" column="dispaly_order"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczAreaInfoVo">
        select area_id,
               tenant_id,
               area_name,
               dispaly_order,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_area_info
    </sql>

    <select id="selectLaoczAreaInfoList" parameterType="com.rexel.laocz.domain.LaoczAreaInfo"
            resultMap="LaoczAreaInfoResult">
        <include refid="selectLaoczAreaInfoVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="areaName != null  and areaName != ''">
                and area_name like concat('%', #{areaName}, '%')
            </if>
            <if test="dispalyOrder != null ">
                and dispaly_order = #{dispalyOrder}
            </if>
        </where>
        order by laocz_area_info.dispaly_order
    </select>
    <select id="selectAreaFire" resultType="com.rexel.laocz.domain.vo.FireZoneInfoVo">
        SELECT lai.area_name,
               fzi.fire_zone_name,
               fzi.fire_zone_id
        FROM laocz_area_info lai
                 left JOIN laocz_fire_zone_info fzi ON fzi.area_id = lai.area_id
    </select>

    <insert id="batchLaoczAreaInfo" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="areaId">
        insert into laocz_area_info
        ( area_id , tenant_id , area_name , dispaly_order , create_by , create_time , update_by , update_time , remark)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.areaId}, #{item.tenantId}, #{item.areaName}, #{item.dispalyOrder}, #{item.createBy},
            #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
