<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczBatchPotteryMappingMapper">

    <resultMap type="LaoczBatchPotteryMapping" id="LaoczBatchPotteryMappingResult">
        <result property="mappingId" column="mapping_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="liquorBatchId" column="liquor_batch_id"/>
        <result property="potteryAltarId" column="pottery_altar_id"/>
        <result property="actualWeight" column="actual_weight"/>
        <result property="realStatus" column="real_status"/>
        <result property="storingTime" column="storing_time"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczBatchPotteryMappingVo">
        select mapping_id,
               tenant_id,
               liquor_batch_id,
               pottery_altar_id,
               actual_weight,
               real_status,
               storing_time,
               create_time,
               create_by,
               update_time,
               update_by,
               remark
        from laocz_batch_pottery_mapping
    </sql>

    <select id="selectLaoczBatchPotteryMappingList" parameterType="LaoczBatchPotteryMapping"
            resultMap="LaoczBatchPotteryMappingResult">
        <include refid="selectLaoczBatchPotteryMappingVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="liquorBatchId != null  and liquorBatchId != ''">
                and liquor_batch_id = #{liquorBatchId}
            </if>
            <if test="potteryAltarId != null ">
                and pottery_altar_id = #{potteryAltarId}
            </if>
            <if test="actualWeight != null ">
                and actual_weight = #{actualWeight}
            </if>
            <if test="realStatus != null ">
                and real_status = #{realStatus}
            </if>
            <if test="storingTime != null ">
                and storing_time = #{storingTime}
            </if>
        </where>
    </select>
    <select id="selectTableDataInfoReportActual"
            resultType="com.rexel.laocz.domain.vo.LaoczBatchPotteryMappingVO">
        SELECT
        pam.pottery_altar_number AS potteryAltarNumber,
        sdd.dict_label as potteryAltarState,
        tam.area_name AS areaName,
        fz.fire_zone_name AS fireZoneName,
        lm.liquor_name AS liquorName,
        lpm.liquor_batch_id AS liquorBatchId,
        lpm.actual_weight AS actualWeight,
        IFNULL(TIMESTAMPDIFF(
        DAY,
        lpm.storing_time,
        NOW()), 0) AS StorageDuration
        FROM
        laocz_batch_pottery_mapping lpm
        LEFT JOIN laocz_liquor_batch lb ON lpm.liquor_batch_id = lb.liquor_batch_id
        LEFT JOIN laocz_liquor_management lm ON lb.liquor_management_id = lm.liquor_management_id
        LEFT JOIN laocz_pottery_altar_management pam ON lpm.pottery_altar_id = pam.pottery_altar_id
        LEFT JOIN sys_dict_data sdd ON pam.pottery_altar_state = sdd.dict_value AND sdd.dict_type = 'Ceramide_condition'
        LEFT JOIN laocz_fire_zone_info fz ON pam.fire_zone_id = fz.fire_zone_id
        LEFT JOIN laocz_area_info tam ON fz.area_id = tam.area_id
        <where>
            <!-- 根据传入参数添加条件 -->
            <if test="fireZoneId != null and fireZoneId != ''">
                fz.fire_zone_id = #{fireZoneId}
            </if>
            <if test="liquorBatchId != null and liquorBatchId != ''">
                AND lpm.liquor_batch_id LIKE CONCAT('%', #{liquorBatchId}, '%')
            </if>
            <if test="potteryAltarNumber != null and potteryAltarNumber != ''">
                AND pam.pottery_altar_number LIKE CONCAT('%', #{potteryAltarNumber}, '%')
            </if>
            <if test="liquorName != null and liquorName != ''">
                AND lm.liquor_name LIKE CONCAT('%', #{liquorName}, '%')
            </if>
            <if test="areaId != null and areaId != ''">
                AND tam.area_id = #{areaId}
            </if>
        </where>
    </select>
    <select id="selectBoardData" resultType="com.rexel.laocz.domain.vo.BoardDataVO">
        SELECT
        pam.pottery_altar_number AS potteryAltarNumber,
        COALESCE(lm.liquor_name, '--') AS liquorName,
        COALESCE(lb.liquor_batch_id, '--') AS liquorBatchId, -- 假设liquor_batch_id为整数类型，用0替换NULL
        COALESCE(bpm.actual_weight, 0.0) AS actualWeight, -- 假设actual_weight为浮点数类型，用0.0替换NULL
        DATEDIFF(CURRENT_DATE, bpm.storing_time) AS retentionDays,
        COALESCE(lm.liquor_level, '--') AS liquorLevel,
        COALESCE(lm.liquor_round, '--') AS liquorRound,
        COALESCE(lm.liquor_flavor_name, '--') AS liquorFlavorName,
        COALESCE(lm.liquor_source, '--') AS liquorSource,
        COALESCE(lm.liquor_year, '--') AS liquorYear,
        COALESCE(lm.liquor_brewing_time, '0000-00-00') AS liquorBrewingTime,
        COALESCE(lm.liquor_content, '--') AS liquorContent
        FROM
        laocz_pottery_altar_management pam
        LEFT JOIN laocz_batch_pottery_mapping bpm ON bpm.pottery_altar_id = pam.pottery_altar_id AND bpm.real_status != 0
        LEFT JOIN laocz_liquor_batch lb ON bpm.liquor_batch_id = lb.liquor_batch_id
        LEFT JOIN laocz_liquor_management lm ON lb.liquor_management_id = lm.liquor_management_id
        LEFT JOIN laocz_fire_zone_info fzi ON pam.fire_zone_id = fzi.fire_zone_id
        LEFT JOIN laocz_area_info ai ON fzi.area_id = ai.area_id
        <where>
            <!-- 根据传入参数添加条件 -->
            <if test="fireZoneId != null and fireZoneId != ''">
                fzi.fire_zone_id = #{fireZoneId}
            </if>
            <if test="areaId != null and areaId != ''">
                AND ai.area_id = #{areaId}
            </if>
            AND pam.pottery_altar_state = 1
        </where>
    </select>
    <select id="selectOverviewVo" resultType="com.rexel.laocz.domain.vo.OverviewVo">
        SELECT
        pam.pottery_altar_number AS potteryAltarNumber,
        lm.liquor_name AS liquorName,
        lb.liquor_batch_id AS liquorBatchId,
        bpm.actual_weight AS actualWeight,
        DATEDIFF(CURRENT_DATE, bpm.storing_time) AS retentionDays,
        lm.liquor_level AS liquorLevel,
        lm.liquor_round AS liquorRound,
        lm.liquor_flavor_name AS liquorFlavorName,
        lm.liquor_source AS liquorSource,
        lm.liquor_year AS liquorYear,
        lm.liquor_brewing_time AS liquorBrewingTime,
        lm.liquor_content AS liquorContent,
        fzi.fire_zone_name AS fireZoneName,
        ai.area_name AS areaName,
        bpm.create_by,
        bpm.create_time
        FROM
        laocz_pottery_altar_management pam
        LEFT JOIN laocz_batch_pottery_mapping bpm ON bpm.pottery_altar_id = pam.pottery_altar_id
        LEFT JOIN laocz_liquor_batch lb ON bpm.liquor_batch_id = lb.liquor_batch_id
        LEFT JOIN laocz_liquor_management lm ON lb.liquor_management_id = lm.liquor_management_id
        LEFT JOIN laocz_fire_zone_info fzi ON pam.fire_zone_id = fzi.fire_zone_id
        LEFT JOIN laocz_area_info ai ON fzi.area_id = ai.area_id
        <where>
            <!-- 根据传入参数添加条件 -->
            <if test="potteryAltarNumber != null and potteryAltarNumber != ''">
                pam.pottery_altar_number = #{potteryAltarNumber}
            </if>
        </where>
    </select>
    <select id="selectBatchInfo" resultType="com.rexel.laocz.domain.vo.BatchInfoVo">
        SELECT
        lm.liquor_name,
        lb.liquor_batch_id,
        count(bpm.liquor_batch_id) as count
        FROM
        laocz_liquor_batch lb
        LEFT JOIN laocz_liquor_management lm ON lb.liquor_management_id = lm.liquor_management_id
        left join laocz_batch_pottery_mapping bpm on bpm.liquor_batch_id = lb.liquor_batch_id
        <where>
            <if test="liquorBatchId != null and liquorBatchId != ''">
                bpm.liquor_batch_id = #{liquorBatchId}
            </if>
        </where>
        GROUP BY bpm.liquor_batch_id
    </select>


    <insert id="batchLaoczBatchPotteryMapping" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="mappingId">
        insert into laocz_batch_pottery_mapping
        ( mapping_id , tenant_id , liquor_batch_id , pottery_altar_id , actual_weight , real_status , storing_time ,
        create_time , create_by , update_time , update_by , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.mappingId}, #{item.tenantId}, #{item.liquorBatchId}, #{item.potteryAltarId}, #{item.actualWeight},
            #{item.realStatus}, #{item.storingTime}, #{item.createTime}, #{item.createBy}, #{item.updateTime},
            #{item.updateBy}, #{item.remark})
        </foreach>
    </insert>

</mapper>
