<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexel.laocz.mapper.LaoczWineOperationsMapper">

    <resultMap type="LaoczWineOperations" id="LaoczWineOperationsResult">
        <result property="wineOperationsId" column="wine_operations_id"/>
        <result property="busyId" column="busy_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="approvalResults" column="approval_results"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLaoczWineOperationsVo">
        select wine_operations_id,
               busy_id,
               tenant_id,
               work_order_id,
               operation_type,
               approval_results,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from laocz_wine_operations
    </sql>

    <select id="selectLaoczWineOperationsList" parameterType="LaoczWineOperations"
            resultMap="LaoczWineOperationsResult">
        select wine_operations_id,
        busy_id,
        tenant_id,
        work_order_id,
        operation_type,
        approval_results,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from laocz_wine_operations as lwo
        <where>
            <if test="potteryAltarNumber!=null and potteryAltarNumber!=''">
                EXISTS (
                SELECT
                1
                FROM
                laocz_wine_details lwd
                LEFT JOIN laocz_pottery_altar_management lpam ON lwd.pottery_altar_id = lpam.pottery_altar_id
                WHERE
                lwd.busy_id = lwo.busy_id
                AND lpam.pottery_altar_number LIKE CONCAT('%',#{potteryAltarNumber},'%')
                )
            </if>
            <if test="operationType != null and operationType!='' ">
                AND operation_type = #{operationType}
            </if>
            <if test="beginTime != null"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null "><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by lwo.create_time desc
    </select>

    <insert id="batchLaoczWineOperations" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into laocz_wine_operations
        ( wine_operations_id , busy_id , tenant_id , work_order_id , operation_type , create_by ,
        create_time , update_by , update_time , remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.wineOperationsId}, #{item.busyId}, #{item.tenantId}, #{item.workOrderId},
            #{item.operationType}, #{item.createBy}, #{item.createTime}, #{item.updateBy},
            #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

</mapper>
